* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background-color:;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    max-width: 300px;
}